<% error = @keyboard.errors.include?(:name) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :name, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:name) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @keyboard.errors.include?(:picture_url) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :picture_url, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :picture_url, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:picture_url) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @keyboard.errors.include?(:maker) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :maker, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :maker, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:maker) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @keyboard.errors.include?(:used) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :used, :class => 'control-label' %>
  <div class='controls'>
    <%= f.check_box :used, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:used) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @keyboard.errors.include?(:midi_leared_keys) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :midi_leared_keys, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_area :midi_leared_keys, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:midi_leared_keys) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @keyboard.errors.include?(:has_faders) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :has_faders, :class => 'control-label' %>
  <div class='controls'>
    <%= f.check_box :has_faders, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:has_faders) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @keyboard.errors.include?(:has_wheel) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :has_wheel, :class => 'control-label' %>
  <div class='controls'>
    <%= f.check_box :has_wheel, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:has_wheel) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @keyboard.errors.include?(:has_pads) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :has_pads, :class => 'control-label' %>
  <div class='controls'>
    <%= f.check_box :has_pads, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:has_pads) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:keyboards, :index), :class => 'btn' %>
</div>
